<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Poprompter</title>
    {{VENDOR_TAILWIND_TAG}}
    <script src="/static/vendor/react.production.min.js"></script>
    <script src="/static/vendor/react-dom.production.min.js"></script>
    <script src="/static/vendor/babel.min.js"></script>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body class="bg-black text-white">
    <div id="root"></div>
    <script type="text/babel" src="/static/js/app.js"></script>
</body>
</html>
